html {
  font-family: Georgia, serif;
}

main {
  background-color: #f2f2f2;
}

tbody th {
  font-weight: normal;
  font-style: italic;
}

tfoot {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #e2e2e2;
}

.year {
  width: 7em;
}

.distance {
  width: 6em;
}

.notes {
  width: 16em;
}

table {
  min-width: 50em;
}

@media only screen and (min-width: 60em) {

  .table-wrap {
    overflow: visible;
  }

}
